extends ../layout

block content
  .page-header
    h1 #[i.fa.fa-mail-forward] Notifications
  .row
    .col-sm-4
      .panel.panel-primary
        .panel-heading
          .panel-title Notification Sender
        .panel-body
          form#notifications-sender-form.form(action=rootPath+'/notifications' method='POST')
            .form-group
              input.form-control(type='text' name='accountId' placeholder='Account ID' required)
            .form-group
              input.form-control(type='text' name='title' placeholder='Title' required)
            .form-group
              input.form-control(type='text' name='content' placeholder='Content' required)
            .form-group
              button.btn.btn-primary.btn-block(data-toggle='collapse' data-target='#notifications-sender-cargo' style='margin-bottom: 15px;' type='button') #[i.fa.fa-folder] Load some cargo
              #notifications-sender-cargo.collapse(style='padding-bottom: 15px;')
                .form-group
                  label Gold
                  input.form-control(type='number' name='gold' min='0' value='0')
                .form-group
                  label Gems
                  input.form-control(type='number' name='gems' min='0' value='0')
                hr
                #notifications-sender-items
                p.text-center: a(href='#').text-success
                  span #[i.fa.fa-plus] Add new item
            .form-group
              button.btn.btn-success.btn-block(type='submit') Send
      .panel.panel-warning
        .panel-heading
          .panel-title Notification Broadcaster
        .panel-body
          form#notifications-broadcaster-form.form(action=rootPath+'/notifications' method='POST')
            .form-group
              input.form-control(type='text' name='title' placeholder='Title' required)
            .form-group
              input.form-control(type='text' name='content' placeholder='Content' required)
            .form-group
              label(for='notifications-broadcaster-form-lang') Publish for
              select#notifications-broadcaster-form-lang.form-control(name='lang')
                option(value='') All languages
                option(value='en') English
                option(value='ru') Russian
            .form-group
              button.btn.btn-danger.btn-block(type='submit') Publish
      #notifications-sender-modal.modal.fade(tabindex='-1', role='dialog')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h4.modal-title Notification Sender
            .modal-body.text-center
      #notifications-broadcaster-modal.modal.fade(tabindex='-1', role='dialog')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h4.modal-title Notification Broadcaster
            .modal-body.text-center
    .col-sm-8
      .panel.panel-primary
        .panel-heading
          .panel-title Account Inbox
        .panel-body
          form#notifications-inbox-form.form(action=rootPath+'/notifications' method='GET')
            .form-group: .input-group
              input.form-control(type='text' name='accountId' placeholder='Account ID' required)
              span.input-group-btn
                button.btn.btn-primary(type='submit') #[i.fa.fa-search] Search
          #notifications-inbox-table
          #notifications-inbox-modal.modal.fade(tabindex='-1', role='dialog')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  h4.modal-title Notification Unpack
                .modal-body.text-center
