extends ../layout

block content
  .page-header
    h1 #[i.fa.fa-id-card] Accounts
  .row
    .col-sm-4
      include ./panels/summary
      include ./panels/dangerous-toolkit
    .col-sm-8
      include ./panels/possible-violators
      include ./panels/violator-details
