if error
  p.text-danger.text-center= error
if result
  p.h3 Resulting inventory of target account:
  .table-responsive
    table.table.table-striped
      thead
        td Item ID
        td Level
        td Qty
      tbody
        for item in result.inventory
          tr
            td= item.itemId
            td= item.level
            td= item.quantity

