#violator-details.panel.panel-warning.hidden
  .panel-heading
    .panel-title Violator Details
  .panel-body
    #violator-details-content
    h3 Actions
    .btn-group.btn-group-justified
      a.btn.btn-success(href='#' onclick='document.'+'forgiveViolator'+'.submit();') Forgive
      a.btn.btn-danger(href='#' onclick='document.'+'banViolator'+'.submit();') Ban
