extends ./layout

block content
  .page-header
    h1 Welcome, #{user.username}!
    if user.defaultCredentials
      .alert.alert-dismissible.alert-warning
        button.close(type='button', data-dismiss='alert') ×
        h4 Warning!
        p.
          It is strongly recommended to change the default credentials to avoid security issues. You may do this on your #[a.alert-link(href=rootPath+'/profile') profile page].
    p.lead Here is the list of available services:
    #service-list.row
      .col-sm-3: a.btn.btn-primary.btn-block(href=rootPath+'/accounts') #[i.fa.fa-id-card] Accounts
      .col-sm-3: a.btn.btn-primary.btn-block(href=rootPath+'/chat') #[i.fa.fa-comments] Chat
      .col-sm-3: button.btn.btn-primary.btn-block.disabled #[i.fa.fa-mail-forward] Notifications
      .col-sm-3: button.btn.btn-primary.btn-block.disabled #[i.fa.fa-shopping-cart] Shop
      .col-sm-3: button.btn.btn-primary.btn-block.disabled #[i.fa.fa-object-group] Crafting
      .col-sm-3: button.btn.btn-primary.btn-block.disabled #[i.fa.fa-crosshairs] PvP
      .col-sm-3: button.btn.btn-primary.btn-block.disabled #[i.fa.fa-trophy] Quest