extends ./layout

block content
  .page-header
    h1 #[i.fa.fa-mail-forward] Notifications
  .row
    .col-sm-4
      .panel.panel-primary
        .panel-heading
          .panel-title Notification Sender
        .panel-body
          form#notifications-sender-form.form(action=rootPath+'/notifications' method='POST')
            .form-group
              input.form-control(type='text' name='accountId' placeholder='Account ID' required)
            .form-group
              input.form-control(type='text' name='title' placeholder='Title' required)
            .form-group
              input.form-control(type='text' name='content' placeholder='Content' required)
            .form-group
              button.btn.btn-success.btn-block(type='submit') Send
          #notifications-sender-modal.modal.fade(tabindex='-1', role='dialog')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  h4.modal-title Notification Sender
                .modal-body.text-center
                  p We have successfully put the notification into the recipient's mailbox. You are free to check it by searching for its inbox.
    .col-sm-8
      .panel.panel-primary
        .panel-heading
          .panel-title Account Inbox
        .panel-body
          form#notifications-inbox-form.form(action=rootPath+'/notifications' method='GET')
            .form-group: .input-group
              input.form-control(type='text' name='accountId' placeholder='Account ID' required)
              span.input-group-btn
                button.btn.btn-primary(type='submit') #[i.fa.fa-search] Search
          #notifications-inbox-table