if error
  p.text-danger= error
if result
  each delivery in result
    if delivery.error
      p #{delivery.type}: #[span.text-danger(style='word-wrap: break-word;')= delivery.error]
    else
      p #{delivery.type}: #[span.text-success OK]